@page "{id:int}"
@model WebApplication.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Phone.PhoneId" />
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Phone.Image))
                {
                    <img src=~/Images/@Model.Phone.Image alt="NoSuchFile" width="150" /> 
                    }
                else
                { 
                    <h4>Файл изображения не задан</h4>
                    }
                </div>
                <div class="custom-file mt-3">
                <input type="file" class="custom-file-input"
                       asp-for="Image" id="customFile">
                <label class="custom-file-label" for="customFile">
                    Выберите файл изображения</label>
                </div>
                <div class="form-group">
                    <label asp-for="Phone.PhoneName" class="control-label"></label>
                    <input asp-for="Phone.PhoneName" class="form-control" />
                    <span asp-validation-for="Phone.PhoneName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone.Description" class="control-label"></label>
                    <input asp-for="Phone.Description" class="form-control" />
                    <span asp-validation-for="Phone.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone.Price" class="control-label"></label>
                    <input asp-for="Phone.Price" class="form-control" />
                    <span asp-validation-for="Phone.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone.Image" class="control-label"></label>
                    <input asp-for="Phone.Image" class="form-control" />
                    <span asp-validation-for="Phone.Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone.PhoneGroupId" class="control-label"></label>
                    <select asp-for="Phone.PhoneGroupId" class="form-control" asp-items="ViewBag.PhoneGroupId"></select>
                    <span asp-validation-for="Phone.PhoneGroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts{
    <script src="~/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>bsCustomFileInput.init();</script>
}
